*,
*:before,
*:after{
    box-sizing: border-box;
}

.iphone{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid black;
    border-radius: 32px;
    width: 256px;
    height: 560px;
    box-shadow: 0px 20px 15px #33333335;
}

.top {
    position: absolute;
    top: 0;
    left: 39.6px;
    z-index: 30;
    background-color: black;
    width: 160px;
    height: 24px;
    border-radius: 0px 0px 16px 16px;
}

.camera{
    position: absolute;
    top: 4px;
    right: 45px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #1e1f22;
    background-color: #447bb5a6;
}

.speaker{
    position: absolute;
    top: 7px;
    right: 62.4px;
    width: 43.2px;
    height: 4.5px;
    background-color: #2c2b2b;
    border-radius: 3.2px;
}

.buttonOnOff{
    position: absolute;
    right: -10px;
    top: 100px;
    width: 2px;
    height: 70px;
    background-color: #444;
    z-index: 40;
    border-radius: 0px 5px 5px 0px;
}

.buttonOnOff:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 8.9px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 5px;
}

.buttonOnOff:active{
    transform: translateX(-1px);
}
@media (hover: hover) {
    .buttonOnOff:hover {
        cursor: pointer;
    }
}
.logoLock{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    top: 130px;
    right: -40px;
}
/* .close{
    position: absolute;
    top: -5px;
    left: 2.5px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50%;
} */
/* .close::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -.6px;
    background-color: black;
    width: 2px;
    height: 2px;
    border-radius: 50%;
} */

.close {
    position: absolute;
    top: -5px;
    left: 2.5px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
   
    border-radius: 50%;
}

.hole{
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
}
.hole::after{
    content: '';
    position: absolute;
    border-bottom: 8px solid white;
    border-top: 0px solid transparent;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
}



.buttonsLeftSide{
    position: absolute;
    left: -10px;
    top: 90px;
    width: 2px;
    height: 40px;
    background-color: #444;
    z-index: 40;
    border-radius: 5px 0px 0px 5px;

}
.buttonsLeftSide::before {
    position: absolute;
    content: '';
    top: -25px;
    width: 2px;
    height: 15px;
    background-color: #444;
    z-index: 40;
    border-radius: 5px 0px 0px 5px;

}
.buttonsLeftSide::after {
    position: absolute;
    content: '';
    top: 50px;
    width: 2px;
    height: 40px;
    background-color: #444;
    z-index: 40;
    border-radius: 5px 0px 0px 5px;

}


.screenOn{
    position: absolute;
    z-index: 10;
    background-image: url('./index.jpg');
    background-size: cover;
    min-width: 100%;
    height: 100%;
    border-radius: 23px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
.app{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 12px;
    background-image: url(./photo_5785436577277786302_y.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px #33333340;
}

.app:active{
    transform: scale(.8);
}

@media (hover: hover) {
    .app:hover {
        cursor: pointer;
    }
}

.screenOff{
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: #fff;
    width: 52px;
    height: 49.5px;
    border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
}

.logo:before{
    position: absolute;
    content: '';
    width: 13.75px;
    height: 13.75px;
    margin: -12.75px 0 0 25px;
    border-radius: 25px 0;
    z-index: 10;
    background-color: #fff;
    
}

.logo:after{
    position: absolute;
    content: '';
    width: 22.5px;
    height: 22.5px;
    background-color: #111;
    margin: 7px 0px 0px 43.5px;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 
    -31.75px -27.37px 0px #111, 
    -29.5px -26.75px 0px #111, 
    -28.87px -25.62px 0px #111, 
    -26.375px -27.37px 0px #111, 
    -26.25px -27.37px #111, 
    -32.25px  41.5px 0px #111, 
    -26.875px 41.5px 0px #111, 
    -29.75px 40.25px 0px #111;
}
